    @import "../css/owl.carousel.min.css";
    /* css variables */
    
     :root {
        --textFormat: upperCase;
        --effect: all .8s linear;
        --space: .1rem;
        --weight: 600;
        /* start default theme */
        --primaryCol: #ffff18;
        --secondaryCol: rgb(127, 19, 228);
        --colorOne: #ffffff;
        --colorTwo: #000000;
        --colorThree: #808080;
        /* end default theme */
    }
    /* global css */
    
    * {
        font-family: 'Montserrat', sans-serif;
        list-style: none!important;
        text-decoration: none!important;
        box-sizing: border-box;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
    
    html {
        font-size: 100%;
        scroll-behavior: smooth;
    }
    /* start preloader */
    
    .preloadContainer {
        background: var(--colorTwo);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9999;
    }
    
    .preloader {
        background-image: url(../img/preloader/preloader.png);
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /* end preloader */
    /* start testimonails component */
    
    .testimonailComp {
        background: var(--secondaryCol);
        color: var(--colorOne);
        text-align: center;
    }
    
    .testimonailComp h2 {
        letter-spacing: .1rem;
        text-transform: uppercase;
        margin: 0 0 3rem;
    }
    
    .testimonailContainer {
        cursor: pointer;
    }
    
    .testimonail {
        padding: 1rem;
    }
    
    .testimonalImgBox {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin: auto;
    }
    
    .testimonalImgBox img {
        width: 100%;
        height: 100%;
    }
    
    .testimonailContent p::before,
    .testimonailContent p::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        margin: .5rem;
        font-size: 2.5rem;
    }
    
    .testimonailContent p::before {
        content: "\f10d";
    }
    
    .testimonailContent p::after {
        content: "\f10e";
    }
    
    .testimonailContent a {
        padding: .5rem 2rem;
        border: 1px solid var(--primaryCol);
        transition: all .5s linear;
        -webkit-transition: all .5s linear;
        -moz-transition: all .5s linear;
        -ms-transition: all .5s linear;
        -o-transition: all .5s linear;
        color: var(--colorOne);
        display: inline-block;
    }
    
    .testimonailContent a:hover {
        background: var(--primaryCol);
        color: var(--colorTwo);
    }
    
    .owl-dots {
        text-align: center;
        margin: 1rem 0 0;
    }
    
    .owl-dot {
        width: 1rem;
        height: 1rem;
        border: 1px solid var(--primaryCol)!important;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin: .5rem;
    }
    
    .owl-dot.active {
        background: var(--primaryCol)!important;
    }
    
    .owl-prev,
    .owl-next {
        width: 2rem;
        height: 2rem;
        background: var(--primaryCol) !important;
        margin: .5rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        position: absolute;
        top: 25%;
    }
    
    .owl-next {
        right: -8px;
    }
    
    .owl-prev {
        left: -1%;
    }
    
    .owl-prev .svg-inline--fa,
    .owl-next .svg-inline--fa {
        display: block;
        color: #fff;
    }
    /* end testimonails component */
    /* testimonails component media queries */
    
    @media(max-width:768px) {
        html {
            font-size: 80%;
        }
    }
    /* testimonails component media queries */